.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100; /* Adjust the z-index to control the stacking order */
  /* Add any other styles as needed */
}
.navbar2-container{
    margin-top: 83px !important;
}

.card{
    width: 15rem;
    margin-left: 2rem;
}
.product_continer{
    display: flex;
    overflow: auto;
    padding: 1rem
}

.carousel .slider-wrapper {
    overflow: hidden;
   
    width: 100%;
    transition: height .15s ease-in;
}


.card-img-top{
    height: 9rem
}
.button_continer{
    display: flex;
    justify-content: space-between;
}
.product_continer::-webkit-scrollbar {
  display: none;
}
svg{
    position: absolute;
    width: 25px;
    right: 9px;
    top: -1rem;
}



svg {
  transition: transform 0.3s; /* Add a smooth transition effect */
}

svg:hover {
     cursor: pointer;
  transform: scale(1.2); /* Scale the SVG up on hover */
  transform-origin: center center; /* Set the transform origin to the center for a centered zoom effect */
}
.btn-primary {
    border: 1px solid black !important;
}
